*{
    margin: 0;
    padding: 0%;
    font-family:"Poppins", sans-serif;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
body{
    background: #000000;
    color: #fff; 

}
#header{
width: 100%;
height: 100vh;
background-image: url(bck.jpg);
background-size: cover;
background-position: center;

}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    margin-top: 3%;
    margin-left: 3%;
    width: 100px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 18px;



}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;

}
nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background-color:#f88e13;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}
.header-text{
    margin-top: 9%;
    font-size: 30px;
    margin-left: 2%;
}
.header-text h1{
    font-size: 70px;
    margin-top: 20px;

}
.header-text h1 span{
    color: #f88e13;
}



.about{
  padding: 80px;
  color: #f88e13;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sub-title{
   font-size: 60px;
   color:#f88e13;
   margin-left: 35%;
}
.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}
.tab-links{
  margin-right: 50px;
  margin-left: 25%;
  font-size: 18px;
  font-weight: 500;
  cursor:pointer;
  position: relative;
}
.tab-links::after{
  content: '';
  width:0;
  height:3px;
  background:#f88e13;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after{
  width:50%;
  margin-left: 35%;
}
.tab-contents ul li{
  list-style:none;
  margin: 10px 0; 
  margin-left: 25%;
}
.tab-contents ul li span{
  color:#f88e13;
  font-size: 14px;
}
.tab-contents{
  display:none;
}
.tab-contents.active-tab{
  display: block;
}
.tab-contents.act{
  margin-left: 45.5%;
}
.about-col-2.mine{
  font-size: 25%;
}




.portfolio{
  padding: 50px 0;


}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work{
  border-radius:10px;
  position: relative;
  overflow: hidden;
}
.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height:0;
  background: linear-gradient(rgba(0,0,0,0.6),#f88e13);
  border-radius: 10px;
  position:absolute;
  left: 0%;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

flex-direction: column;
padding: 0 40 px;
text-align: center;
transition: height 0.5s;}
.mimi{
  color: #fffcf8;
  font-size: 12px;
}
.mimu{
  color:#fffcf8 ;
  font-size: 13px;
}
.layer a{
  margin-top: 20px;
  color: #f88e13;
  text-decoration: none;
  font-size: 15px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img{
  transform:scale(1.1)
}
.work:hover .layer{
  height: 100%;
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #f88e13;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5;
}
.btn:hover{
background: #f88e13;
}






.contact-left{
  flex-basis: 35%;

}
.contact-right{
  flex-basis: 60%;
  
}
.contact-left p{
  margin-top: 30px;
}
.social-icons{
  margin-top: 30px;

}
.social-icons a{
  text-decoration: none;
  font-size:30px;
  margin-right: 15px;
  color: #f88e13;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: #e2dfdc;
  transform: translateY(-5px);
}
.contact-left p i{
  color:#f88e13;
  margin-right: 15px;
  font-size: 25px;
}
.btn.btn2{
  display: inline-block;
  background: #f88e13;
}
.contact-right form{
  width: 100%;

}
form input, form textarea{
  width:100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;

}
.form .btn2{
  padding: 14px;
  font-size: 18px;
  margin-top: 20px;
  cursor:pointer;

}
.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  margin-top: 20px;
  font-weight:300;
}
#msg{
color:#f88e13;
margin-top: -40px;
display: block;
}